@import url('setup.css');
body {
    background: #e8e7e7;
    font-family: arial;
    text-transform: uppercase;
}


/* ********* HEADER *************** */

header,
header li {
    color: #FFF;
    padding: 5px 10px;
    text-align: center;
    display: block;
    align-items: center;
    background-color: #8063FA;
    border-bottom: solid 2px #D4CAFF;
    text-align: left;
    margin: 1em;
}

header h1 {
    flex-grow: 1;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: center;
}

div .tourlist {
    margin: 0 auto;
    text-align: center;
}


/* ********* FORMS *************** */

.formWrapper {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    padding: 1em;
}

.noteInput {
    line-height: 1.5em;
    padding: 0.5em;
    margin: 1em;
    width: 90%;
    padding: 1em;
}

.dateInput {
    width: calc((100% / 4) - 1em);
    margin: 1em;
    padding: 1em;
}

button,
input[type=submit] {
    outline: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}


/* ********* COMPONENT STYLES *************** */

.tourlist {
    background: #fff;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 2px 0 rgb(133, 104, 250);
    border-radius: 6px;
    /* overflow: hidden; */
}

.name {
    flex-grow: 1;
    line-height: 3.5em;
    padding-left: 10px;
}

.date,
.seats {
    text-align: right;
    padding-left: 0;
    line-height: 3em;
    margin-right: 0.8em;
}

.stats {
    margin: 0 0 0 28px;
    font-weight: normal;
}

input[type=submit]:hover {
    background: #fff;
    color: #44338D;
    cursor: pointer;
}


/* ********* LIST *************** */

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    width: 95%;
    padding: 1em;
}

li {
    text-align: left;
    padding: 1em 2em;
    background-color: rgb(241, 239, 239);
    list-style: none;
}

.inventoryItem:nth-child(1n+2):hover li {
    background-color: rgb(193, 228, 240);
}

.inventoryItem {
    margin: 0 auto;
    width: 96%;
}

button,
.noteButton {
    border: 0;
    color: red;
    background-color: rgb(241, 239, 239, 0);
}

button:hover {
    transform: scale(1.2);
}


/* ************************************* 
**********INPUT SECTION *******************
/* ********************************** */

.noteButton,
.noteInput {
    border: none;
    margin: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1em 1em;
    font-family: "Droid Sans", sans-serif;
    background-color: #019875;
    color: #fff;
    transition: 0.2s ease-out;
}

.noteButton:hover {
    background-color: #02ba85;
    color: #fff;
    transition: 0.2s ease-out;
}

.noteInput,
.dateInput {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: "Droid Sans", sans-serif;
    background-color: rgba(34, 49, 63, 0.8);
    color: #fff;
    transition: 0.2s ease-out;
}

.noteInput:focus {
    background-color: #e4f1fe;
    color: #111;
    transition: 0.2s ease-in;
}